---
import PlotFigure from '../components/PlotFigure.astro';
import penguins from '../assets/penguins.json';
import * as Plot from "@observablehq/plot";
---


<h1>Test</h1>
<PlotFigure
	options={{
		marks: [
		Plot.dot(penguins, {
			x: "flipper_length_mm",
			y: "body_mass_g",
			stroke: "species"
		})
		]
	}}
	/>

